.App {
<<<<<<< HEAD
    width: 100%;
    margin: 100px auto;
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px 30px;
    box-shadow: 0 3px 0 gray;
}
button:hover {
    filter: grayscale(60%);
}
button:active {
    position: relative;
    top: 3px;
    box-shadow: none;
=======
  margin: 100px auto;
  text-align: center;
>>>>>>> a1f0c99ad7810dd67a5279ece519f5ccddedd384
}